h1 {
	padding: 10px;
	margin-left: 5px;
}

#sidebar {
	width: 300px;
	background: #222;
	overflow-y: auto;
	border-right: 2px solid #444;
	max-height: 100%;
}

#main {
	flex: 1;
	padding: 10px;
}

#headers,
#json {
	margin-bottom: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
}

th,
td {
	padding: 5px;
	text-align: left;
	border-bottom: 1px solid #444;
}

.container {
	display: flex;
	flex-direction: row;
	flex: 1 0 auto; /* Restore '0 auto' */
	height: 0; /* Add this line */
	min-height: 0; /* Add this line */
}

.json-block {
	background: #2a2a2a;
	overflow-x: auto;
}

.request-item {
	padding: 8px;
	margin-bottom: 2px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.host-ip,
.timestamp {
	color: #888;
	font-size: 0.8em;
}

.button-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 10px;
}

button {
	background-color: #444;
	color: #ccc;
	border: none;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin-left: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #555;
}

.delete-button {
	display: none;
	color: #fc618d;
	cursor: pointer;
	float: right;
	margin-right: 5px;
}

.request-item:hover .delete-button {
	display: inline-block;
}

footer {
	background-color: #222;
	color: #ccc;
	padding: 10px;
	text-align: center;
	font-size: 14px;
}

footer a {
	color: #ccc;
	text-decoration: none;
}

footer a:hover {
	color: #f8b500;
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
	}

	#sidebar {
		width: 100%;
		max-height: 30vh;
	}

	h1 {
		align-self: center;
	}
}
